#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #dce1de;
    font-family: IBM Plex Sans Arabic, Helvetica, sans-serif;
}
header {
    background-color: #49a078;
}
nav a:hover{
    background-color: white;
    color: #1f2421;
}
.book, .join {
    background-color: #dce1de;
    color: #1f2421;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: white;
    color: #1f2421;
}
#background{
    background-color: #9cc5a1;
}
.msg{
    background-color: #9cc5a1;
}
footer{
    background-color: #49a078;
    color: #dce1de;
}
.home-title{
    color: black;
    font-family: "Carter One", arial, sans-serif;
}
h4{
    color: black;
}
.msg h2{
    color: white;
    font-family: IBM Plex Sans Arabic, Helvetica, sans-serif;
}
.msg p{
    color: white;
}
footer a{
    color: #dce1de;
    text-decoration: none;
}
footer a:hover {
    color: #9cc5a1;
}
.logo{
    width: 80px;    
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
