Body {
	/* text-align: center; commented out week4 */
}
nav, footer {
	background-color: steelblue;
	color: white;
	padding: 10px;
	text-align: center;
}
a {
	font-size: 1.5em; /* added week4 */
	color: white;
	margin: 40px;
}
h1{
	text-align: center; /* added week4 */
	color: steelblue;
}
img {
	/* width: 800px; commented out week4 */
	width: 80%; /* added week4 */
	display: block;
	margin: 0 auto;
	border: 4px solid steelblue;
}
p {
	width: 80%; /* added week4 */
	padding: 10px;
}
.main-para {
	font-size: 1.5em;
	line-height: 1.5em;
}
#active {
	background-color: white;
	color: steelblue;
}
/* * {
	border: 2px solid blue;
} commented out week4 */
main p {
	width: 80%; /* added week4 */
	margin: 50px auto;
	text-align: center;
}
footer p {
	font-size: 20px;
	margin: 20px auto;
}
a:hover {
	background-color: white;
	color: steelblue;
}
